# Вопросы к assignment 1
Для работы вам предоставлен датасет, содержащий характеристики авто (19 признаков) и таргет для предсказания - его цену. Цена по своей сути - это непрерывная величина (не категориальная), поэтому перед вами задача регрессии.

Вы можете создавать более одной ячейком под соответствующими вопросами. Вопросы повышенной сложности отмечены *

Признаки:
- Make - приозводитель
- Model - модель авто
- Price - цена авто, таргет для моделей
- Year - год выпуска авто
- Kilometer - пробег авто в километрах
- Fuel Type - тип топлива для авто
- Transmission - тип коробка передач
- Location - место продажи
- Color - цвет авто
- Owner - количество предыдущих владельцев
- Seller Type - кто выступает продавцом
- Engine - тип двигателя
- Max Power - максимальная мощность авто
- Max Torque - максимальный крутящий момент авто
- Drivetrain - тип трансмиссии авто
- Length - длина авто
- Width - ширина авто
- Height - высота авто
- Seating Capacity - количество сидячих мест
- Fuel Tank Capacity - объем топливного бака

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('car details v4.csv')

In [5]:
data.head()

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0

1. Вывести общую информацию по данным, сколько числовых и сколько сктроковых типов признаков? Перечислить признаки, имеющие пропуски в данных. Какие методы работы с пропущенными значениями вы знаете? Обработайте эти пропуски. Важно, линейная регрессия не умеет работать с пропусками в данных.

In [8]:
# your code here
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Make                2059 non-null   object
 1   Model               2059 non-null   object
 2   Price               2059 non-null   int64
 3   Year                2059 non-null   int64
 4   Kilometer           2059 non-null   int64
 5   Fuel Type           2059 non-null   object
 6   Transmission        2059 non-null   object
 7   Location            2059 non-null   object
 8   Color               2059 non-null   object
 9   Owner               2059 non-null   object
 10  Seller Type         2059 non-null   object
 11  Engine              1979 non-null   object
 12  Max Power           1979 non-null   object
 13  Max Torque          1979 non-null   object
 14  Drivetrain          1923 non-null   object
 15  Length              1995 non-null   float64
 16  Width               1995 non-null   float64
 17  Height              1995 non-null   float64
 18  Seating Capacity    1995 non-null   float64
 19  Fuel Tank Capacity  1946 non-null   float64
dtypes: float64(5), int64(3), object(12)
memory usage: 321.8+ KB

In [9]:
data.describe()

,Price,Year,Kilometer,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
count,2.059000e+03,2059.000000,2.059000e+03,1995.000000,1995.000000,1995.000000,1995.000000,1946.000000
mean,1.702992e+06,2016.425449,5.422471e+04,4280.860652,1767.991980,1591.735338,5.306266,52.002210
std,2.419881e+06,3.363564,5.736172e+04,442.458507,135.265825,136.073956,0.822170,15.110198
min,4.900000e+04,1988.000000,0.000000e+00,3099.000000,1475.000000,1165.000000,2.000000,15.000000
25%,4.849990e+05,2014.000000,2.900000e+04,3985.000000,1695.000000,1485.000000,5.000000,41.250000
50%,8.250000e+05,2017.000000,5.000000e+04,4370.000000,1770.000000,1545.000000,5.000000,50.000000
75%,1.925000e+06,2019.000000,7.200000e+04,4629.000000,1831.500000,1675.000000,5.000000,60.000000
max,3.500000e+07,2022.000000,2.000000e+06,5569.000000,2220.000000,1995.000000,8.000000,105.000000

In [10]:
data.shape

(2059, 20)

In [12]:
data[data.isnull()]

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data_droped=data.dropna()

In [23]:
data_droped[data_droped.isnull()].count()

Make                  0
Model                 0
Price                 0
Year                  0
Kilometer             0
Fuel Type             0
Transmission          0
Location              0
Color                 0
Owner                 0
Seller Type           0
Engine                0
Max Power             0
Max Torque            0
Drivetrain            0
Length                0
Width                 0
Height                0
Seating Capacity      0
Fuel Tank Capacity    0
dtype: int64

2. Вывести описательные статистики по численным признакам. Какая медиана у признака "Kilometer"? Какая медиана у признака "Fuel Tank Capacity"? Какой год выпуска является самым минимальным/максимальным? Выведите строку(-и) в данных, имеющую(-щих) эти года выпуска.

In [24]:
# your code here
data_droped.describe()

,Price,Year,Kilometer,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
count,1.874000e+03,1874.000000,1.874000e+03,1874.000000,1874.000000,1874.000000,1874.000000,1874.000000
mean,1.718279e+06,2016.713447,5.317814e+04,4281.512807,1767.886339,1588.967983,5.295091,52.217343
std,2.426090e+06,3.138477,5.878833e+04,436.220747,131.344883,134.627659,0.807008,15.167250
min,4.900000e+04,1988.000000,0.000000e+00,3099.000000,1475.000000,1213.000000,2.000000,15.000000
25%,5.000000e+05,2015.000000,2.801975e+04,3985.000000,1695.000000,1485.000000,5.000000,42.000000
50%,8.424995e+05,2017.000000,4.879750e+04,4360.000000,1770.000000,1544.000000,5.000000,50.000000
75%,1.908250e+06,2019.000000,7.100000e+04,4620.000000,1831.000000,1670.750000,5.000000,60.000000
max,3.500000e+07,2022.000000,2.000000e+06,5569.000000,2220.000000,1995.000000,8.000000,105.000000

3. Какой производитель ("Make") встречается наиболее часто в датасете? Выведите количество и долю в процентах.

In [ ]:
# your code here

4. Какой город наиболее часто встречается в датасете?

In [ ]:
# your code here

5. Постройте гистограмму для признака "Fuel Tank Capacity". Какими бы вы выбрали границы категорий для разбиения этого признака и что может помочь вам в этом? В каких целях можно использовать эти категории в дальнейшем? Повторите описанные действия для признака "Seating Capacity".

*6. Постройте pie chart для признаков "Color"/"Owner"/"Seller Type". Укажите данные как в числах, так и в процентах. Добавьте легенду на графики (подписи осей, категорий данных, поиграйтесь с цветом и другим функционалом seaborn).

In [ ]:
# your code here

7. Добавьте к данным новые признаки (новые колонки) в группировке по прозводителю ("Make"): медиана "Kilometer"/"Length"/"Fuel tank Capacity". Т.е. для каждой записи в новой колонке должны содержаться соответствующие данной модели признаки, которые показывают "медиану пробега авто марки Toyota" и т.д. Подсказка: необходимо воспользоваться методом groupby().

In [ ]:
# your code here

8. Для всех полученных на данный момент числовых признаков постройте график матрицы корреляций, на нем выведите значение корреляций в виде тепловой карты. Также постройте ещё одну матрицу корреляций, в которую пойдут топ 5 признаков по значению корреляции.

In [ ]:
# your code here

9. Обработайте категориальные признаки, содержащие менее 5 уникальных значений. Воспользуйтесь OrdinalEncoding, OneHotEncoding или простым mapping чисел для этих признаков. Для дальнейших заданий удалите все остальные категориальные признаки (все, которые содержат больше 5 уникальных значений). Важно, вы не сможете построить линейную регрессию на текстовых признаках, поэтому все текстовые признаки необходимо удалить или транфсормировать в числовые.

In [ ]:
# your code here

10. Воспользовавшись train test split разделите полученные данные на тестовую и трейн выборки в пропорции 80% train/20% test. Можем ли мы воспользоваться stratifed split? Вы можете использовать готовые реализации из sklearn, либо написать свои функции. Помните, что перед сплитом мы разделяем данные на признаки и таргет ("Price").

In [ ]:
# your code here

11. Примените алгоритм линейной регрессии для обучения и дальнейшего прогнозирования цены автомобиля. Отобразите ошибку прогноза модели на тестовой выборке с помощью RMSE.

In [ ]:
# your code here

*12. Постройте полный пайплайн по подготовке данных обучения через sklearn.pipeline.Pipeline. Для этого воспользуйтесь предыдущими вопросами, соберите все трансформации из предыдущих вопросов и реализуйте их в данном пайплайне. Помните, что некоторый функционал идёт из коробки (import из sklearn) , а некоторый (добавление новых признаков), можно реализовать через классы с методами fit/transform/fit_transform.

In [ ]:
# your code here

*13. Подберите необходимые параметры модели Random Forest (n_estimators, max_features) используя стратегию кросс-валидации (с bootstrap=False и bootstrap=True). Удастся ли вам получить лучшую метрику на тестовых данных, чем если вы будете в качестве прогноза на тестовой выборке просто отдавать среднюю цену всех авто из обучающей выборки?

In [ ]:
# your code here